.App {
  text-align: center;
}

header {
  width: 96%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 40px;
}

.eth {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.headerItem {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  opacity: 1;
}

.opacity {
  opacity: 0.4;
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}

.tradeBox {
  width: 90%;
  max-width: 460px;
  background-color: #000000;
  border: 1px solid #cfd9f0;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.chart {
  width: 90%;
  max-width: 490px;
  background-color: #0e111b;
  border: 1px solid #cfd9f0;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.market {
  width: 90%;
  max-width: 800px;
  height: 600px;
  background-color: rgb(100, 100, 100);
  border: 1px solid #cfd9f0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  padding: 3px;
}

.ticker {
  width: 98%;
  border: 1px solid #cfd9f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.swap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tokens {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 44px;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.slippage {
  display: flex;
  width: 30%;
  font-size: 16px;
  color: #51586f;
}

.switchButton {
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  margin-left: 44%;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  font-size: 14px;
  transition: 0.2s;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5f6783;
}

.inputs {
  position: relative;
}

.assetReview {
  width: 80%;
  height: 40px;
  background-color: rgb(69, 69, 69);
  border-radius: 100px;
  display: flex;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
}

.assetOne {
  position: absolute;
  min-width: 50px;
  height: 32px;
  background-color: rgb(0, 0, 0);
  top: 32px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetOne:hover {
  cursor: pointer;
}

.maxButton {
  background-color: rgb(0, 0, 0);
  width: 36px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 73px;
  right: 128px;
  color: white;
  border: none;
  font-size: 11px;
  font-weight: bold;
  transition: 0.3s;
}

.balanceOne {
  position: absolute;
  top: 70px;
  right: 20px;
  min-width: 80px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 14px;
}

.messageOne {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 14px;
}

.messageTwo {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 102px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 14px;
}

.valueOne {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 72px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 14px;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 32px;
  background-color: rgb(0, 0, 0);
  top: 131px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.balanceTwo {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 170px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 14px;
}

.price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.block-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-bottom: 10px;
}

.footer {
  padding-bottom: 4px;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: flash 1s linear infinite;
}

.assetOne:hover {
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.assetTwo:hover {
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.assetLogo {
  height: 25px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(69, 69, 69);
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 12px;
  margin-top: 12px;
}

.swapButton[disabled] {
  background-color: rgb(40, 40, 40);
  opacity: 0.4;
  color: rgb(255, 255, 255);
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: rgb(148, 148, 148);
}

.swapButton:hover {
  cursor: pointer;
  background-color: rgb(148, 148, 148);
}

.executeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(69, 69, 69);
  width: calc(80%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 0.3s;
  margin: auto;
  margin-top: 12px;
}

.executeButton:hover {
  cursor: pointer;
  background-color: rgb(148, 148, 148);
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);

  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.tokenOne {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
}

.tokenOne:hover {
  cursor: pointer;
  background-color: rgb(148, 148, 148);
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: rgb(148, 148, 148);
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.token_panel_container {
  width: 94%;
  max-width: 580px;
  display: flex;
  align-items: center;
  color: rgb(12, 12, 12);
  margin-top: 10px;
}

.tokens_title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 0px;
  background-color: rgb(69, 69, 69) !important;
}

.tokens_address {
  width: 55%;
  font-size: 24px;
  border-radius: 15px;
  margin-bottom: 0px;
  margin: auto;
  background-color: rgb(100, 100, 100) !important;
}

.tokens_box {
  background-color: rgb(69, 69, 69) !important;
  color: white;
  border-radius: 15px;
  border: 1px solid #cfd9f0;
  height: 400px;
  width: 100%;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.tokens_header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2em;
}

.token_container {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5em;
  align-items: center;
  position: relative;
  z-index: 1;
}

.image_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.image_placeholder_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: linear-gradient(#ffd27c, #ffaa8f);
}

.token_name_symbol_container {
  display: flex;
  column-gap: 0.5rem;
}

.token_name_logo {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-items: start;
  gap: 1em;
}

.token_info {
  display: flex;
  gap: 0.5em;
  font-weight: 700;
}

.coin_symbol {
  color: rgb(255, 255, 255);
}

/* LargebMobile */
@media (max-width: 720px) {
  header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }

  .headerItem {
    padding: 3px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 48px;
    height: 48px;
    padding: 6px;
  }

  .sm-logo {
    width: 42px;
    height: 42px;
  }

  .networkButton {
    display: none;
  }

  .tradeBox {
    width: 100%;
  }

  .chart {
    width: 100%;
  }
}

/* Medium Mobile */
@media (min-width: 480px) and (max-width: 720px) {
  .tradeBox {
    width: 400px;
  }

  .maxButton {
    width: 34px;
    height: 18px;
    top: 74px;
    right: 129px;
    font-size: 10px;
  }
}

/* Small Mobile */
@media (min-width: 0px) and (max-width: 480px) {
  .tradeBox {
    width: 320px;
  }

  .headerItem {
    padding: 4px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }

  .chart {
    display: none;
  }

  .tokens_title {
    font-size: 20px;
  }

  .tokens_address {
    font-size: 20px;
  }

  .maxButton {
    width: 34px;
    height: 18px;
    top: 74px;
    right: 108px;
    font-size: 10px;
  }

  .balanceOne {
    right: 10px;
    font-size: 13px;
  }

  .balanceTwo {
    right: 10px;
    font-size: 13px;
  }
}
