.App {
  text-align: center;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.eth {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: rgb(34, 42, 58);
  border: 1px solid #cfd9f0;
  cursor: pointer;
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}

.tradeBox {
  width: 460px;
  background-color: #0e111b;
  border: 1px solid #cfd9f0;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.chart {
  width: 580px;
  background-color: #0e111b;
  border: 1px solid #cfd9f0;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.heatmap {
  width: 90%;
  height: 600px;
  background-color: #0e111b;
  border: 1px solid #cfd9f0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  padding: 10px;
}

.market {
  width: 90%;
  height: 600px;
  background-color: #0e111b;
  border: 1px solid #cfd9f0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  padding: 10px;
}

.ticker {
  width: 99%;
  border: 1px solid #cfd9f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.swap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tokens {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  background-color: #3a4157;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 210px;
  color: #5f6783;
  border: 3px solid #0e111b;
  font-size: 12px;
  transition: 0.3s;
}

.maxButton {
  background-color: #3a4157;
  width: 36px;
  height: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 74px;
  left: 310px;
  color: white;
  border: 2px solid #0e111b;
  font-size: 12px;
  transition: 0.3s;
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5f6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.assetOne {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 32px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.balanceOne {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 72px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 13px;
}

.messageOne {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 2px;
  right: 370px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 13px;
}

.valueOne {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 72px;
  right: 360px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 13px;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 131px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.balanceTwo {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 172px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 13px;
}

.messageTwo {
  position: absolute;
  min-width: 80px;
  height: 24px;
  top: 102px;
  right: 370px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 13px;
}

.data {
  padding-bottom: 3px;
  gap: 5px;
  font-weight: semi-bold;
  font-size: 15px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: flash 1s linear infinite;
}

.assetOne:hover {
  cursor: pointer;
}

.assetTwo:hover {
  cursor: pointer;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243056;
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #5981f3;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 20px;
  margin-top: 8px;
}

.swapButton[disabled] {
  background-color: #243056;
  opacity: 0.4;
  color: #5982f39b;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #243056;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874;
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.token_panel_container {
  display: flex;
  color: rgb(12, 12, 12);
}

.tokens_title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  position: sticky;
  top: 0px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 0px;
  z-index: 2;
  background-color: #0e111b; 
}

.tokens_address {
  width: 100%;
  font-size: 24px;
  margin-bottom: 0px;
  position: sticky;
  top: 20px;
  z-index: 2;
}

.tokens_box {
  background-color: #0e111b;
  color: white;
  border-radius: 15px;
  border: 1px solid #cfd9f0;
  height: 600px;
  width: 600px;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.tokens_header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2em;
}

.token_container {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5em;
  align-items: center;
  position: relative;
  z-index: 1;
}

.image_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.image_placeholder_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: linear-gradient(#ffd27c, #ffaa8f);
}

.token_name_symbol_container {
  display: flex;
  column-gap: 0.5rem;
}

.token_name_logo {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-items: start;
  gap: 1em;
}

.token_info {
  display: flex;
  gap: 0.5em;
  font-weight: 700;
}

.coin_symbol {
  color: #4e4e4e;
}
